<%- include('partials/head') %>
<body>
    <% if(user) { %>
        <h1>Hello, <%= user.name %></h1>
        <a href="/profile?page=1"><h3>Now you can go to profiles</h3></a>
        
    <% } else { %>
        <a href="/user/login"><h1>You should login first!</h1></a>
    <% } %>  
</body>
</html>